{
  "Mongo": {
    "ConnectionString": "mongodb://localhost:27017",
    "Database": "evcharge"
  },
  "Jwt": {
    "Secret": "dev-secret",
    "Issuer": "evcharge-api",
    "Audience": "evcharge-clients",
    "ExpiryMinutes": 60
  },
  "Cors": {
    "AllowedOrigins": [ "http://localhost:5173" ]
  },
  "Kestrel": {
    "Endpoints": {
      "Http": { "Url": "http://localhost:8085" }
    }
  }
}
